<div class="row">
    <div class="col-xs-10">
      <app-shopping-edit></app-shopping-edit>
      <!--(AddNewIngredient) = "OnIngredientAdd($event)" 
        this is not use to replace work with service back to commit number 6-->
      <hr>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let ingredient of ingredients"
        >
          {{ ingredient.name }} ({{ ingredient.amount }})
        </a>
      </ul>
    </div>
  </div>
  