<div class="row">
    <div class="col-md-5">
      <app-recipe-list></app-recipe-list>
      <!--(recipeSelected) = "selectedRecipe = $event" 
        this is not use to replace work with service back to commit number 6-->
    </div>
    <div class="col-md-7">
      <app-recipe-detail 
        *ngIf ="selectedRecipe; else infoText"
        [recipeDetials] = "selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
          <p>
            Please select a Recipe!
          </p>
        </ng-template>
    </div>
  </div>
  